<app-header-lite></app-header-lite>
<main>
    <div class="card">
      <div class="card-header">
        <h4>Nome: <span>Mel</span></h4>
        <h4>Raça: <span>Shiba Inu</span></h4>
        <h4>Idade: <span>2 Anos</span></h4>
      </div>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <p>
        O Shiba Inu é o menor dos seis spitz originais e distintos raças de
        cães do Japão. Um cão pequeno e ágil que lida muito bem com terreno
        montanhoso, o Shiba Inu foi originalmente criado para caça.
      </p>
  
      <button (click)="adopt()">Adotar</button>
    </div>
  </main>
  