<header>
  <h1><a href="#">Tudo por Amor</a></h1>
  <div class="hamburger" id="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <ul class="menu" id="menu">
    <li><a href="#container-pets">Animais</a></li>
    <li><a href="#donations">Quer nos ajudar ?</a></li>
    <li><a href="#calendar">Informações</a></li>
    <li><a routerLink="/vacina">Vacinas</a></li>
  </ul>

  <ul class="register">
    <li><a routerLink="/login">Entrar</a></li>
    <li><a routerLink="/register">Cadastrar</a></li>
  </ul>
</header>
