<header>
  <h1>Tudo por Amor</h1>
</header>
<main>
  <h1>Entre na sua conta</h1>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input required type="email" matInput placeholder="Ex. Teste@teste.com" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input required type="password" matInput placeholder="Ex. *******" />
    </mat-form-field>
  </p>
  <!-- Corrigido o evento (Click) para (click) -->
  <button (click)="login()">Entrar</button>
  <br />
  <a routerLink="/login">Não tem conta? <span>Crie sua conta</span></a>
</main>
