<header>
  <h1>Tudo por Amor</h1>
</header>
<main>
  <h1>Crie sua conta gratuita</h1>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Nome Completo</mat-label>
      <input required matInput placeholder="Ex. Maria Auxiliadora" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input required type="email" matInput placeholder="Ex. Teste@teste.com" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input required type="password" matInput placeholder="Ex. *******" />
    </mat-form-field>
  </p>
  <button (click)="register()">Entrar</button>
  <br />
  <a routerLink="/register">Já tem conta? <span>Realizar Login</span></a>
</main>
