<app-header></app-header>
<section id="outdoor">
  <img src="assets/outdoor.png" alt="Outdoor Image" />
</section>
<main>
  <h1>Escolha seu pet</h1>

  <div id="container-pets">
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Shiba Inu é o menor dos seis spitz originais e distintos raças de
          cães do Japão. Um cão pequeno e ágil que lida muito bem com terreno
          montanhoso, o Shiba Inu foi originalmente criado para caça.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/detalhes" class="btn-moreInfo">Mais informações</a>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Shiba Inu é o menor dos seis spitz originais e distintos raças de
          cães do Japão. Um cão pequeno e ágil que lida muito bem com terreno
          montanhoso, o Shiba Inu foi originalmente criado para caça.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/detalhes" class="btn-moreInfo">Mais informações</a>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Shiba Inu é o menor dos seis spitz originais e distintos raças de
          cães do Japão. Um cão pequeno e ágil que lida muito bem com terreno
          montanhoso, o Shiba Inu foi originalmente criado para caça.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/detalhes" class="btn-moreInfo">Mais informações</a>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Shiba Inu é o menor dos seis spitz originais e distintos raças de
          cães do Japão. Um cão pequeno e ágil que lida muito bem com terreno
          montanhoso, o Shiba Inu foi originalmente criado para caça.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/detalhes" class="btn-moreInfo">Mais informações</a>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Shiba Inu é o menor dos seis spitz originais e distintos raças de
          cães do Japão. Um cão pequeno e ágil que lida muito bem com terreno
          montanhoso, o Shiba Inu foi originalmente criado para caça.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/detalhes" class="btn-moreInfo">Mais informações</a>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Shiba Inu é o menor dos seis spitz originais e distintos raças de
          cães do Japão. Um cão pequeno e ágil que lida muito bem com terreno
          montanhoso, o Shiba Inu foi originalmente criado para caça.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/detalhes" class="btn-moreInfo">Mais informações</a>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Shiba Inu é o menor dos seis spitz originais e distintos raças de
          cães do Japão. Um cão pequeno e ágil que lida muito bem com terreno
          montanhoso, o Shiba Inu foi originalmente criado para caça.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/detalhes" class="btn-moreInfo">Mais informações</a>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Shiba Inu é o menor dos seis spitz originais e distintos raças de
          cães do Japão. Um cão pequeno e ágil que lida muito bem com terreno
          montanhoso, o Shiba Inu foi originalmente criado para caça.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/detalhes" class="btn-moreInfo">Mais informações</a>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Shiba Inu é o menor dos seis spitz originais e distintos raças de
          cães do Japão. Um cão pequeno e ágil que lida muito bem com terreno
          montanhoso, o Shiba Inu foi originalmente criado para caça.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/detalhes" class="btn-moreInfo">Mais informações</a>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Shiba Inu é o menor dos seis spitz originais e distintos raças de
          cães do Japão. Um cão pequeno e ágil que lida muito bem com terreno
          montanhoso, o Shiba Inu foi originalmente criado para caça.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/detalhes" class="btn-moreInfo">Mais informações</a>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Shiba Inu é o menor dos seis spitz originais e distintos raças de
          cães do Japão. Um cão pequeno e ágil que lida muito bem com terreno
          montanhoso, o Shiba Inu foi originalmente criado para caça.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/detalhes" class="btn-moreInfo">Mais informações</a>
      </mat-card-actions>
    </mat-card>
  </div>
</main>
