<app-icon-instagram></app-icon-instagram>
<app-header></app-header>
<!--Section outdoor-->
<section id="outdoor">
  <img src="assets/outdoor.png" alt="Outdoor Image" />
</section>
<!--Main cards-->
<main>
  <h1>Escolha seu pet</h1>

  <div id="container-pets">
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O Shiba Inu é o menor dos seis spitz originais e distintos raças de
          cães do Japão. Um cão pequeno e ágil que lida muito bem com terreno
          montanhoso, o Shiba Inu foi originalmente criado para caça.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/detalhes" class="btn-moreInfo">Mais informações</a>
      </mat-card-actions>
    </mat-card>
  </div>
</main>
<!--Section Help-->
<section id="donations">
  <h1>Quer nos ajudar ?</h1>
  <span>Veja como.</span>

  <p>
    🐶 Você sabia que, a cada dia, milhares de cães e gatos são abandonados nas
    ruas, expostos a fome, doenças e perigos? Na nossa ONG, trabalhamos
    incansavelmente para resgatar, cuidar e encontrar lares amorosos para esses
    animais. Mas não podemos fazer isso sozinhos. Precisamos da sua ajuda para
    continuar salvando vidas!
  </p>

  <div id="container-donation-dog">
    <ul>
      <span>Precisamos de doações em: </span>
      <li><b>Ração</b> (para cães e gatos)</li>
      <li><b>Medicamentos</b> (antipulgas, vermífugos, vacinas)</li>
      <li><b>Produtos de higiene</b> (shampoo, sabonete, desinfetantes)</li>
      <li><b>Cobertores e caminhas</b></li>
      <li>
        <b>Itens para construção de abrigos</b> (materiais de construção,
        cercas)
      </li>
      <a href="https://www.instagram.com/p/C7wl3-yOU-I/?igsh=NTNhYXMzb2Jlb2dn"
        >Veja mais</a
      >
    </ul>
  </div>
</section>
<!--Calendar-->
<full-calendar id="calendar" [options]="calendarOptions"></full-calendar>
<!--Footer-->
<app-footer></app-footer>
