<app-header-lite></app-header-lite>

<div>
  <section id="form-pet">
    <h1>Cadastrar Pet</h1>
    <form [formGroup]="petForm">
      <mat-form-field appearance="fill">
        <mat-label>Nome do Pet</mat-label>
        <input placeholder="Ex. Nino" matInput formControlName="petName" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="petCategory">
          <mat-option value="cat">Gato</mat-option>
          <mat-option value="dog">Cachorro</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="example-button-container">
        <button mat-fab extended (click)="registerPet()">Cadastrar</button>
      </div>
    </form>
  </section>

  <h1>Carteira de vacinação</h1>

  <section id="vaccination-card">
    <div class="card">
      <p-tabView [(activeIndex)]="activeIndex">
        <p-tabPanel header="Capa" id="header1">
          <div class="container">
            <h1>
              Sua carteira de vacinação na tela do seu computador ou celular
            </h1>
            <div></div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Vacinas" id="header2">
          <form [formGroup]="formGroup">
            <p-dropdown
              formControlName="selectedPet"
              [options]="pets"
              optionLabel="name"
              placeholder="Selecione seu pet"
              (onChange)="onPetChange($event)"
            >
              <ng-template let-pet pTemplate="item">
                <mat-icon>favorite</mat-icon>
                {{ pet.name }}
              </ng-template>
            </p-dropdown>
          </form>

          <div id="containerVaccine">
            <div id="headerVaccine">
              <h1 *ngIf="selectedPet">Você selecionou: {{ selectedPet }}</h1>
            </div>
            <div *ngIf="selectedPet" id="contentVaccine">
              <p-table
                [value]="petList"
                [tableStyle]="{ 'min-width': '50rem' }"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nome</th>
                    <th>Vacina</th>
                    <th>Aplicada</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pet>
                  <tr>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.vaccine }}</td>
                    <td>{{ pet.applied }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Informações Adicionais" id="header3">
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga.
          </p>
        </p-tabPanel>
      </p-tabView>
    </div>
  </section>
</div>
