section.registerPet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  text-align: center;

  h1 {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  div#container-form {
    p {
      display: flex;
      flex-direction: row;
    }
  }
  div.container-radio {
    display: flex;
    justify-content: space-around;
    div.item-Radio {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}
.mat-mdc-table{
  text-align: center;
}