h1 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: default;
  text-align: center;
  color: #4b5563;
}

section#form-pet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 40px;

  button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 20px;
  }
}

// * Carteira de vacinação
section#vaccination-card {
  h1 {
    font-size: 1rem;
  }

  //* Carteiras
  #header1 {
    div.container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      div {
        height: 500px;
        width: 100%;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../../../assets/CarteiraHome.png);
        background-position: center;
      }
    }
  }
}
